* {
  font-size: 20px;
}

.margin-top {
  margin-top: 2rem;
}

.bold-text {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

div .operadoras__accordion-body {
  padding: 0%;
}

.subtitulo {
  color: #212529;
  text-transform: uppercase;
}

.status-ok {
  color: #1A8625;
}

.status-fail {
  color: #861A1A;
}

.active-button.status-ok, .active-button:hover.status-ok, .active-button:active.status-ok, .active-button:focus.status-ok { 
  background-color: #cfffd3;
  color: #212529;
}

.active-button.status-fail, .active-button:hover.status-fail, .active-button:active.status-fail, .active-button:focus.status-fail { 
  background-color: #ffcfcf;
  color: #212529;
}
